* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.detail-container {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 95vw;
}
.detail-container h1 {
  padding: 20px;
}
.container p {
  padding-top: 20px;
}
.container h3 {
  padding-top: 20px;
}
.container {
  width: 300px;
}
.container img {
  border-radius: 35px;
  padding: 20px;
  margin-left: 30px;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
}

.post-card {
  background-color: transparent;
  color: white;
  border-radius: 15px;
  border: 1.5px solid grey;
  flex: 1 1 300px;
}

.post-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

.post-card h4 {
  margin-bottom: 10px;
}

.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid white;
}
.userid {
  padding-top: 20px;
  padding-left: 20px;
}
.title {
  padding-left: 20px;
}
.body {
  padding-left: 20px;
}
.read-more-link {
  padding: 20px;
  margin-bottom: 10px;
}
.title,
.body {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-link {
  font-weight: 100;
  font-size: 16px;
  text-align: justify;
  color: white;
}
.bodyData {
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
  color: white;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: bounceLoader 0.5s infinite ease-in-out;
}

@keyframes bounceLoader {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.dot:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0s;
}

.dot:nth-child(2) {
  background-color: #e74c3c;
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  background-color: #2ecc71;
  animation-delay: 0.2s;
}

.dot:nth-child(4) {
  background-color: #f39c12;
  animation-delay: 0.3s;
}